@keyframes colorsBody{
    0%{background-position:0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/*gradient no body*/
body{
    background: linear-gradient(45deg, #1a2e1d,#163e31,#0f6031,#21a380);
    background-size: 300% 300%;
    animation: colorsBody 10s ease infinite;
}

/*Topo do site*/
header h1{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: #1a2e1d;
}

/*PArte superior do site*/
#banca{
    width: 325px;
    height: 50px;
    border: black 1px solid;
    text-align: center;
    line-height: 50px;
}

/*Botões de loss e win*/
#loss{
    border: 1px solid red;
    width: 100px;
    padding: 30px;
    margin: 50px;
    cursor: pointer;
    position: absolute;
    right: 0%;
}
#win{
    border: 1px solid rgb(82, 230, 89);
    width: 100px;
    padding: 30px;
    margin: 50px;
    cursor: pointer;
    position: absolute;
    right: 10%;
}


/*Parte inferior do site*/
.inferior{
    width: 20%;
}

/*Entrada*/
.Entrada{
    width: 150px;
    height: 50px;
    border: #ffffff 1px solid;
    display: inline-block;
    box-sizing: content-box;
    text-align: center;
    line-height: 25px;
    margin: 5px;
    font-weight: 600;
}
.Entrada:hover{
    background-color: #21a348;
}
.soros{
    width: 150px;
    height: 50px;
    border: #ffffff 1px solid;
    display: inline-block;
    box-sizing: content-box;
    text-align: center;
    line-height: 25px;
    margin: 5px;
    font-weight: 600;
}
.soros:hover{
    background-color: #21a348;
}

/*
    Adicionei o important para quando o usuario clicar nas divs do soros, 
    a div de recuperação não seja afetada mudando de cor
*/
.recuperacao {
    background-color: rgb(212, 24, 24) !important;
    color: white;
    font-weight: 800;
    border: red 2px solid;
}


/*
    Caixa onde fica o "banco de dados" onde vou computar as ordens
*/
#container-db{
    position: absolute;
    top: 50%;
    right: 33%;
    width: 400px;
    height: 200px;
    text-align: center;
    border: 2px rgb(0, 156, 39) solid;
}
#banco-de-dados{
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-top: 10px;
}